[Desktop Entry]
Name=SpaceChart 3D
Comment=A 3d map of the stars
Comment[pl]=Trójwymiarowa mapa gwiazd
Exec=spacechart
Icon=spacechart
Terminal=false
Type=Application
Categories=GTK;GNOME;Education;Science;Astronomy;
# vi: encoding=utf-8
