[Desktop Entry]
Name=SpaceChart 3D
Comment=A 3d map of the stars
Comment=Trójwymiarowa mapa gwiazd
Exec=spacechart
Icon=spacechart.png
Terminal=0
Type=Application
# vi: encoding=utf-8
