[Desktop Entry]
Name=SpaceChart 3D
Comment=A 3d map of the stars
Comment[pl]=Trójwymiarowa mapa gwiazd
Exec=spacechart
Icon=spacechart.png
Terminal=0
Type=Application
Encoding=UTF-8
# vi: encoding=utf-8
